nav {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 275px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    height: 65%;
}

nav li{
    text-decoration: none;
    position: relative;
    border-radius: 10px;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
}

nav li > a {
    display: block;
    color: #404040;    
    padding: 16px 36px;
    text-decoration: none;
    font-size: 18px;
}

nav li > a.active{
    background-color: #3c863f;
    color: white;
}

nav h1{
    color: #404040;    
    padding: 4px 36px;
    line-height: 3.5rem;
}

nav h1::after{
    content: "";
    position: relative;
    display: block;
    bottom: 4px;
    left: 0;
    right: 0;
    height: 4px;
    background: #404040;
    transform: skewX(-20deg);
    width: 140px;
}

nav > div > p{
    padding: 8px 16px;
}

nav > div > p > span{
    text-decoration: underline;
}

nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #b1a9a9 solid 1px;
    height: 15%;
}

nav .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

nav .socials a i{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: #404040;
}