.productInfoContainer {
    width: 100%;
}



.shoppingCartContainer{
    height: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 275px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  
}

.shoppingCart{
    height: 92.5%;

}

.shoppingCartContainer > button {
    width: 100%;
    border: 0;
    padding: 15px;
    background-color: #3c863f;
    color: white;
    font-size: 18px;
    height: 7.5%;
}

.productInfoContainer{
    width: 90%;
    background-color: white;
    color: white;
    border-radius: 5px;
    padding: 1px 0;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.productInfoContainer button{
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: #3c863f;
    margin-left: 10px;
}

.productInfoContainer p{
    margin: 0;
    margin-left: 10px;
    color: #3c863f;
}

.productInfoContainer > button:nth-of-type(1), .productInfoContainer button:nth-of-type(2) {
    background-color: transparent;
    color: #3c863f;
    font-size: 20px
}
